@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --PhoneInput-color--focus: transparent;
}

input:-webkit-autofill {
    transition-delay: 9999s;
    transition-property: background-color, color;

}
textarea:focus, input:focus{
    outline: none !important;
}
